# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# UV / venv
.venv/
uv.lock

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# OS
.DS_Store

# Quarto
/docs/_site/
/docs/_freeze/
/docs/.quarto/
/docs/**/*_files/
